body{
    margin: 0px;
    padding: 0px;
    font-size: 20px;
    line-height: 1.5em;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background-image: url("https://img.freepik.com/fotos-gratis/fundo-preto-e-branco-ondulado_23-2150530917.jpg");
    background-size: cover
}

a{
    color: black;
}
header li{
    list-style-type: none;
}