body{
    font-size: 15px;
    line-height: 1.5;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background-image: url("https://previews.123rf.com/images/benzoix/benzoix2107/benzoix210700427/174158655-homem-gay-bonito-com-glitter-no-rosto-usando-top-de-colheita-e-bandeira-lgbt-arco-%C3%ADris-posando.jpg");
}